In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
df_2023_01 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [4]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)

#### Q1: Read the data for January. How many columns are there?

In [5]:
df_2023_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [6]:
df_2023_01.shape[1]

19

In [7]:
df_2023_01.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

#### Q2: What's the standard deviation of the trips duration in January?

In [8]:
df_2023_01['tpep_pickup_datetime'] = pd.to_datetime(df_2023_01['tpep_pickup_datetime'])
df_2023_01['tpep_dropoff_datetime'] = pd.to_datetime(df_2023_01['tpep_dropoff_datetime'])

# Duration of each trip in minutes
df_2023_01['duration'] = (df_2023_01['tpep_dropoff_datetime'] - df_2023_01['tpep_pickup_datetime']).dt.total_seconds() / 60

# Standard deviation of the trip durations
std_deviation_duration = df_2023_01['duration'].std()
print(f'Standard deviation of the trip durations in January 2023: {std_deviation_duration:.2f} minutes')

Standard deviation of the trip durations in January 2023: 42.59 minutes

In [9]:
df_2023_01['duration'].head()

0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
Name: duration, dtype: float64

In [10]:
df_2023_01['duration'].describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [11]:
description = df_2023_01['duration'].describe()

# Convert the description to a string with the specified format
formatted_description = description.apply(lambda x: f'{x:.10f}')

# Print the formatted description
print(formatted_description)

count    3066766.0000000000
mean          15.6689951673
std           42.5943512419
min          -29.2000000000
25%            7.1166666667
50%           11.5166666667
75%           18.3000000000
max        10029.1833333333
Name: duration, dtype: object

In [12]:
df_2023_01['duration'].describe(percentiles=[0.5, 0.95, 0.99]).apply(lambda x: f'{x:.2f}')

count    3066766.00
mean          15.67
std           42.59
min          -29.20
50%           11.52
95%           36.47
99%           57.25
max        10029.18
Name: duration, dtype: object

In [13]:
df_2023_01_filtered = df_2023_01[(df_2023_01['duration'] > 1) & (df_2023_01['duration'] < 60)]

In [14]:
df_2023_01_filtered.shape[0]

3009130

#### Q3: What fraction of the records left after you dropped the outliers?

In [15]:
# Calc outliers
print(f'{(df_2023_01_filtered.shape[0] / df_2023_01.shape[0]) * 100:.2f}')

98.12

In [16]:
df_2023_01_filtered.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

#### Q4 What's the dimensionality of this matrix (number of columns)?

In [17]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

# Identify categorical features
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

# was getting this error:
#     /tmp/ipykernel_41121/2751478012.py:9: SettingWithCopyWarning: 
# A value is trying to be set on a copy of a slice from a DataFrame.
# Try using .loc[row_indexer,col_indexer] = value instead

# See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
#   df_2023_01_filtered[categorical] = df_2023_01_filtered[categorical].astype(str)

# Create a copy of the DataFrame slice to avoid the SettingWithCopyWarning
df_filtered_copy = df_2023_01_filtered.copy()

# Convert categorical features to strings using .loc to avoid SettingWithCopyWarning
df_filtered_copy.loc[:, categorical] = df_filtered_copy[categorical].astype(str)

# Turn the DataFrame into a list of dictionaries
dicts = df_filtered_copy[categorical].to_dict(orient='records')

dv = DictVectorizer(sparse=True) # sparse added to handle large data
feature_matrix = dv.fit_transform(dicts)

# Get the dimensionality of the feature matrix
dimensionality = feature_matrix.shape[1]

print(f'The dimensionality of the feature matrix is: {dimensionality}')

The dimensionality of the feature matrix is: 515

## Q5 Training a model. RMSE on train

In [18]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import joblib

# Create a copy of the DataFrame slice to avoid the SettingWithCopyWarning
df_filtered_copy = df_2023_01_filtered.copy()

# Convert categorical features to strings using .loc to avoid SettingWithCopyWarning
df_filtered_copy.loc[:, categorical] = df_filtered_copy[categorical].astype(str)

# Turn the DataFrame into a list of dictionaries
dicts = df_filtered_copy[categorical].to_dict(orient='records')

dv = DictVectorizer(sparse=True) # sparse added to handle large data
feature_matrix = dv.fit_transform(dicts)

# Prepare the target variable
y_train = df_filtered_copy['duration'].values

# Train the linear regression model
model = LinearRegression()
model.fit(feature_matrix, y_train)

# Predict the target variable on the training data
y_pred = model.predict(feature_matrix)

# Calculate the RMSE on the training data
rmse = np.sqrt(mean_squared_error(y_train, y_pred))

# Print the RMSE
print(f'The RMSE on the training data is: {rmse:.3f}')

# Save the DictVectorizer and the model
joblib.dump(dv, 'dict_vectorizer.pkl')
joblib.dump(model, 'linear_model.pkl')

The RMSE on the training data is: 7.649

['linear_model.pkl']

load validation set

In [ ]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from scipy.sparse import hstack
import numpy as np
import joblib

# Load both training and validation datasets
df_2023_01 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_2023_02 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

# Calculate the duration for both datasets
df_2023_01['duration'] = (df_2023_01['tpep_dropoff_datetime'] - df_2023_01['tpep_pickup_datetime']).dt.total_seconds() / 60
df_2023_02['duration'] = (df_2023_02['tpep_dropoff_datetime'] - df_2023_02['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter out trips with invalid durations
df_2023_01_filtered = df_2023_01[(df_2023_01['duration'] > 1) & (df_2023_01['duration'] < 60)]
df_2023_02_filtered = df_2023_02[(df_2023_02['duration'] > 1) & (df_2023_02['duration'] < 60)]

# Identify categorical and numerical features
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

# Combine both datasets for DictVectorizer fitting
df_combined = pd.concat([df_2023_01_filtered, df_2023_02_filtered])
df_combined.loc[:, categorical] = df_combined[categorical].astype(str)

# Convert categorical features to strings
df_combined.loc[:, categorical] = df_combined[categorical].astype(str)

# Turn the combined DataFrame into a list of dictionaries
dicts_combined = df_combined[categorical].to_dict(orient='records')

# Fit DictVectorizer on the combined data
dv = DictVectorizer(sparse=True)
dv.fit(dicts_combined)

# Transform the training data
df_2023_01_filtered.loc[:, categorical] = df_2023_01_filtered[categorical].astype(str)
dicts_train = df_2023_01_filtered[categorical].to_dict(orient='records')
feature_matrix_train = dv.transform(dicts_train)
numerical_matrix_train = df_2023_01_filtered[numerical].values
feature_matrix_train = hstack([feature_matrix_train, numerical_matrix_train])
y_train = df_2023_01_filtered['duration'].values

# Train the linear regression model
model = LinearRegression()
model.fit(feature_matrix_train, y_train)

# Save the DictVectorizer and the model
joblib.dump(dv, 'dict_vectorizer.pkl')
joblib.dump(model, 'linear_model.pkl')

In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from scipy.sparse import hstack
import numpy as np
import joblib

# Load the DictVectorizer and the model
dv = joblib.load('dict_vectorizer.pkl')
model = joblib.load('linear_model.pkl')

# Load the validation dataset
df_2023_02 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

# Calculate the duration for the validation dataset
df_2023_02['duration'] = (df_2023_02['tpep_dropoff_datetime'] - df_2023_02['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter out trips with invalid durations
df_2023_02_filtered = df_2023_02[(df_2023_02['duration'] > 1) & (df_2023_02['duration'] < 60)]

# Identify categorical and numerical features
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

# Prepare the validation data
df_2023_02_copy = df_2023_02_filtered.copy()
df_2023_02_copy.loc[:, categorical] = df_2023_02_copy[categorical].astype(str)

# Turn the DataFrame into a list of dictionaries for the categorical features
dicts_val = df_2023_02_copy[categorical].to_dict(orient='records')

# Transform the validation data using the loaded DictVectorizer
feature_matrix_val = dv.transform(dicts_val)

# Get the numerical features matrix
numerical_matrix_val = df_2023_02_copy[numerical].values

# Combine the categorical and numerical feature matrices
feature_matrix_val = hstack([feature_matrix_val, numerical_matrix_val])

# Prepare the target variable
y_val = df_2023_02_copy['duration'].values

# Predict the target variable on the validation data
y_val_pred = model.predict(feature_matrix_val)

# Calculate the RMSE on the validation data
rmse_val = np.sqrt(mean_squared_error(y_val, y_val_pred))

# Print the RMSE
print(f'The RMSE on the validation data is: {rmse_val:.2f}')

ValueError: X has 516 features, but LinearRegression is expecting 515 features as input.